<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Foxsoft Ltd: {{ page.title }}</title>

	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" charset="utf-8">
	<!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection" /><![endif]-->	
	
</head>

<body>

	<div class="header">
		<div class="container header">
			<div class="span-24">
				<div class="span-5">
					<div class="hidden">
						<img  href="/images/foxsoft-logo-black.gif" width="110px" />
					</div>					
					&nbsp;
				</div>
				<div class="span-10">
					<div class="span-2">
					</div>
					<div class="span-8 last">
						<div class="hidden">
							<h1>foxsoft ltd</h1>
							<h5>your dream development</h5>
						</div>
						&nbsp;
					</div>
				</div>
				<div class="span-8 push-1 last">
					&nbsp;
				</div>						
			</div>
		</div>
	</div>
	
	<div class="title">
		<div class="container title">
			<div class="span-24">
				<div class="span-5">
					&nbsp;
				</div>
				<div class="span-10">
					<p>{{ page.title }}</p>			
				</div>
				<div class="span-8 push-1 last">
					<ul class="inline topmenu">
						<li><a href="/index.html">home</a></li>
						<li><a href="/contact.html">contact</a></li>
						<li><a href="/services.html">services</a></li>
						<li><a href="/about.html">about</a></li>
						<li><a href="/blog.html" class="last">blog</a></li>
						<!-- <li><a href="http://foxsoft.grouphub.com">login</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content">
		<div class="container">

			{{content }}
		</div>
	</div>
	
	<div class="footer">
		<div class="container">
			<div class="span-24">
				<div class="span-5">
					&nbsp;
				</div>				
				<div class="span-10">
					<p>Copyright &copy; 2005-2009 %> Foxsoft Ltd</p>			
				</div>
				<div class="span-8 push-1 last">
					<ul class="inline footmenu">
						<li><a href="/home.html">home</a></li>
						<li><a href="/legal.html">"legal"</a></li>
					</ul>
				</div>			
			</div>
	
		</div>
	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-172732-1");
	pageTracker._trackPageview();
	} catch(err) {}
	</script>
</body>
</html>
